body{
    font-family: sans-serif;
}


#bg_header{
    background-color: #2c3e51;
}


#jumbotron{
    background-color: rgb(29, 208, 149);
}

.bg_color_img{
    background-color: rgb(29, 208, 149);
    border-color: rgb(29, 208, 149);
}

.bg_acqua{
    background-color: rgb(29, 208, 149);
}

.my_footer_top{
    background-color: #3a546c;
}